<!DOCTYPE html>
<html>
<%
var cfg = {
	"title":"价格日历" || htmlWebpackPlugin.options.title
};
%>
<head>
	<meta charset="utf-8">
	<% include ./src/page/template/publicMeta %>
	<title><%=cfg.title %></title>
</head>
<body>
	<% include ./src/page/template/publicHeader %>
	<div class="mg-content">
	<div id="content">
	</div>
   </div>
</body>
<!--[[ 列表模板-->

</html>