<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% include ./src/page/template/publicMeta %>
</head>
<body class="mui-fullscreen">
    <div class="mg-content">
        <div class="scroll" id="slider-frames" style="transform: translate3d(0px, 0px, 0px) translateZ(0px);">
            <!--iframes-->
        </div>
    </div>
</body>
</html>