<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="robots" content="all" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
		<title></title>
		<link rel="stylesheet" href="../css/swiper-3.3.1.min.css" />
		<link rel="stylesheet" href="../css/Details.css" />
	</head>
	<body> 
		<div id="cover"><img src="../img/Load.gif"></div>
		<div id="body">
		<div id="Bomb_box">
			<div id="Bomb_box_cover">				
			</div>
			<div id="Bomb_box_content">
				<img src="../img/mango.png" id="Bomb_box_content_pic"/>
				<span id="confirm_remove">×</span>
				<p id="Bomb_box_content_title">产品编号:<span id="Bomb_box_content_ID"></span></p>
				<p class="Bomb_box_content_font">您可以直接拨打电话预定签证产品</p>
				<p class="Bomb_box_content_font">记得报上产品编号</p>
				<a href="tel:4006640066" id="Bomb_box_content_phone">拨打电话</a>
			</div>
		</div>	
		<header><span class="confirm">&#xe600;</span><span class="header_content"></span><img src="../img/border_bottom.png"></header>
		<section id="body_content">
<div id="wrapper">

<img src="../img/banner.jpg" class="Details_pic"/>
<section class="Details_title">
	<p class="Details_title_content"></p>
	<p class="Details_title_price">￥<span class="Details_title_price_font"></span>/人</p>
</section>
<section class="Details_nav">
	<dl>
		<dt class="Details_nav_title">入境次数</dt>
		<dd class="Details_nav_content" id="frequency"></dd>
	</dl>
	<dl>
		<dt class="Details_nav_title">停留天数</dt>
		<dd class="Details_nav_content" id="days"></dd>
	</dl>
	<dl>
		<dt class="Details_nav_title">有效期</dt>
		<dd class="Details_nav_content" id="validity">单次</dd>
	</dl>
	
</section>
<section class="Details_content">
	<div class="Details_content_title">
		<span class="Details_content_title1">基本信息</span>
		<span>所需资料</span>
		<span>预定须知</span>
	</div>
		<div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            
              <h4>办理时长</h4>
              <section id="For_long_time"></section>
              <h4>是否面试</h4>
              <section id="Interview"></section>
              <h4>是否销签</h4>
              <section id="service_content"></section>
              <h4>是否录指纹</h4>
              <section id="service_fingerprint"></section>
              <h4>受理范围</h4>
              <section id="Acceptance_range"></section>
             
            </div>
            <div class="swiper-slide" id="Occupation">

           
            </div>
            <div class="swiper-slide">
             <h4>费用说明</h4>
              <section id="Cost_description"></section>
              <h4>预定提示</h4>
              <section id="Prompt_reservation"></section>
                      	
            </div>
        </div>
      
   </div>
</section>
</div>
   </section>
    <div class="Details_content_foot">
    	<span id="reservation">电话预定</span>
    	<span id="Details_content_foot_buy">立即购买</span>
    </div>
   </div>
	<script src="../js/zepto_1.1.3.js"></script>
	<script type="text/javascript" src="../js/swiper-3.3.1.js" ></script>
	<script type="text/javascript" src="../js/details.js" ></script>
	</body>
</html>
