<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="robots" content="all" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
		<title></title>	
		<link rel="stylesheet" href="../css/search_list.css" /> 
	</head>
	<body>
		<div id="cover"><img src="../img/Load.gif"></div>
		<div id="body">
		<header><span class="confirm_header">&#xe600;</span><span class="header_content"></span><img src="../img/border_bottom.png"></header>
		<nav class="search_list_nav">
			<div class="visa_type"><span id="VisaType">签证类型</span><i class="iconfont">&#xe609;</i></div>|
			<div class="visa_type"><span id="PermanentPlace">常住地</span><i class="iconfont">&#xe609;</i></div>|
			<div class="visa_type"><span id="Sort">排序</span><i class="iconfont">&#xe609;</i></div>
			
		</nav>
		<section id="body_content">
<div class="Tourist_visa_cover">
<div class="Tourist_visa_content" id="Tourist_visa_content_type">

</div>
<div class="Tourist_cover"></div>

</div>

 
<div class="Tourist_visa_cover">
<div class="Tourist_visa_content" style="background-color:#f6f6f6;">
	<div id="type_Unlimited">不限</div>
<ul id="Tourist_visa_content_city">

  </ul>
  	
	
	
</div>
<div class="Tourist_cover"></div>
</div>



<div class="Tourist_visa_cover">
<div class="Tourist_visa_content" style="background-color:#f6f6f6;">
	<div class="type_comprehensive" Data-Id="1"><span class="confirm_sort">&#xe60c;</span><span>综合排序</span></div>
	<div class="type_comprehensive" Data-Id="2"><span class="confirm_sort">&#xe60c;</span><span>价格&nbsp;↓</span></div>
	
</div>
<div class="Tourist_cover"></div>
</div>


<div id="wrapper">





</div>
		
   </section>
   </div>
	<script src="../js/zepto_1.1.3.js"></script>
		<script type="text/javascript" src="../js/search_list.js" ></script>
	</body>
</html>