<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>签证订单</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/swiper-3.3.1.min.css" />
    <link rel="stylesheet" href="../css/visa_order.css?v=2" />
</head>

<body style="background:#f0f0f0;padding-top:90px;">
    <div class="loading" id="loading">
        <img src="../img/Load.gif">
    </div>
    <div class="wrap">
        <header class="header header-fiexd">
            <div class="header-l"><a href="../../order/orderlist.html" class="icon icon-back">&#xe600;</a></div>
            <div class="header-c">
                <strong>签证订单</strong>
            </div>
            <div class="header-r">
                
            </div>
        </header>
        <section>
            <div class="swiper-title box-hori tab-fixed">
                <span class="box-hori-1 active">进行中</span>
                <span class="box-hori-1">已完成</span>
                <span class="box-hori-1">已取消</span>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-slide-content">
                            
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-content"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide-content"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="../js/zepto_1.1.3.js"></script>
    <script src="../js/swiper-3.3.1.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/visa_order.js"></script>
</body>

</html>
