<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>签证订单</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/visa_order.css" />
</head>

<body>
    <div class="loading" id="loading">
        <img src="../img/Load.gif">
    </div>
    <div class="wrap">
        <header class="header">
            <div class="header-l"><a href="javascript:;" id="back" class="icon icon-back">&#xe600;</a></div>
            <div class="header-c">
                <strong>订单详情</strong>
            </div>
            <div class="header-r">
                <div class="tps" id="tps">
                    <div class="threecircle">
                        <span></span>
                    </div>
                    <div class="tps-dialog">
                        <em class="tps-dialog-triangle"></em>
                        <ul>
                            <!-- <li><a href="javascript:;" class="tps-cancel-order"><i class="icon icon-tps-money">&#xe60d;</i>退款</a></li>
                            <li><a href="tel:1233434334" class="tps-mango-tel"><i class="icon icon-tps-custome">&#xe607;</i>芒果客服</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="order-info" id="order-info">
                <ul class="list-ul list-br-b">
                    <li class="list-ul-li">
                        <a href="javascript:;" class="list-ul-li-a"><strong>订单信息</strong><span class="more-order-info triangleToggle">更多<i class="icon icon-arrow-down">&#xe609;</i><i class="icon icon-arrow-up">&#xe608;</i></span></a>
                    </li>
                </ul>
                <div class="order-info-content">
                    
                </div>
                <div class="order-add-applicants hide">
                    
                </div>
            </div>
            <div class="visa-state">
                <h4 class="visa-state-title"><span>签证状态</span></h4>
                <div class="visa-state-path">
                    <ul>
                        <!-- <li>
                            <div class="visa-state-ball">
                                <em class="visa-state-circle"><i></i></em>
                                <dl>
                                    <dt>请上传材料，待签证专员审核</dt>
                                    <dd>我们已将您所需要准备的材料发送至您的邮箱，请您将所需要准备的材料上传</dd>
                                    <dd>2016.4.25&nbsp;&nbsp;&nbsp;14:00</dd>
                                </dl>
                            </div>
                        </li>
                        <li>
                            <div class="visa-state-ball">
                                <em class="visa-state-circle"></em>
                                <dl>
                                    <dt>订单支付成功</dt>
                                </dl>
                            </div>
                        </li>
                        <li>
                            <div class="visa-state-ball">
                                <em class="visa-state-circle"></em>
                                <dl>
                                    <dt>订单提交成功</dt>
                                </dl>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/zepto_1.1.3.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/visa_order_details.js"></script>
</body>
</html>