<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>签证订单</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/visa_order.css" />
</head>

<body>
    <div class="loading" id="loading">
        <img src="../img/Load.gif">
    </div>
    <div class="wrap">
        <header class="header">
            <div class="header-l"><a href="javascript:;" id="back" class="icon icon-back">&#xe600;</a></div>
            <div class="header-c">
                <strong>添加申请人</strong>
            </div>
            <div class="header-r">
                
            </div>
        </header>
        <div class="content">
            <div class="add-applicants">
                <div class="add-applicants-list">
                    <ul class="list-ul list-br-t">
                        
                    </ul>
                </div>
                <div class="add-applicants-info">
                    
                </div>
            </div>
        </div>
    </div>
    <script src="../js/zepto_1.1.3.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/visa_add_applicants.js"></script>
</body>
</html>